@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply a reset to all typography elements */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* Global typography styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul,
ol {
  margin-left: 1.25rem;
  margin-bottom: 1rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
